# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized:

Objectives:
>R, SQL & python are the popular languages uses in DataScience.
>Apache spark, apache Airflow ,MYsql..etc are open source tools for DataScience.
>pandas,numpy,matplotlib,keras,Pytorch..etc are Libraries ueses in DataScience.

#### Some of the popular languages that Data Scientists use are:
1.Python

2.R programming

3.SQL

4.Scala

5.julia

6.Java

7.C++

####  Some of the commonly used libraries used by Data Scientists include:
1.NumPy

2.pandas

3.matplotlib

4.pyTorch

5.Scipy

6.Keras

7.TensorFlow

|Data Science Tools|
|------------------|
|RStudio|
|VS Code|
|Jupyter NoteBook|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200

hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
SaiVishwaTeja Nagarjunapu